<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseStamp</key>
	<date>2025-10-21T05:03:04Z</date>
	<key>DeployedFolderIDs</key>
	<array>
		<string>16777230-36143</string>
	</array>
	<key>InstalledLocation</key>
	<string>/Applications</string>
	<key>LastLaunchDate</key>
	<date>2026-02-15T23:49:57Z</date>
	<key>LastRunOSVersion</key>
	<string>26.2</string>
	<key>LastRunVersion</key>
	<string>6.0.4</string>
	<key>LastSelectedFolderID</key>
	<string>16777230-36143</string>
	<key>LastSelectedRuleIDs</key>
	<array/>
	<key>Looks like this rule has a note attached.</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArAIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGpheG9uAAAACQAAAAEB
	AABEb3dubG9hZHMAAABpAAAAAQEAAFtIaS1SZXNdWzI1MDkxOV1DSEFJTlNBVyBNQU4g
	VEhFIE1PVklF77yaUkVaRSBBUkMgb3JpZ2luYWwgc291bmR0cmFjayAtc3VtbWVyJ3Mg
	ZW5kLVs5NmtIeu+8jzI0Yml0XVtGTEFDXQAAAAQAAAABAQAARkxBQxQAAAABBgAAEAAA
	ACAAAAAwAAAARAAAALgAAAAIAAAABAMAADRHAAAAAAAACAAAAAQDAAD8jAAAAAAAAAgA
	AAAEAwAAL40AAAAAAAAIAAAABAMAAEgfOwAAAAAACAAAAAQDAABLHzsAAAAAABQAAAAB
	BgAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAAAAQAAEHHPvDIAAAAGAAAAAECAAACAAAA
	AAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMA
	APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQ
	oRtzAAAACAAAAAAEAABBx0KQYgAAACQAAAABAQAANkEwMjE4RTctODQ5OS00NjQwLUE5
	RkUtMkZFRDMwMEU0QTkwGAAAAAECAACBAAAAAQAAAO8TAAABAAAA7xMAAAEAAAABAAAA
	AQEAAC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AHJkbGYCAAAAAAAAAC8AAAABAQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVk
	TmV0d29ya1ZvbHVtZXNLZXkA/AAAAP7///8BAAAAAAAAABQAAAAEEAAAxAAAAAAAAAAF
	EAAAMAEAAAAAAAAQEAAAXAEAAAAAAABAEAAATAEAAAAAAAACIAAAMAIAAAAAAAAFIAAA
	oAEAAAAAAAAQIAAAsAEAAAAAAAARIAAA5AEAAAAAAAASIAAAxAEAAAAAAAATIAAA1AEA
	AAAAAAAgIAAAEAIAAAAAAAAwIAAAfAEAAAAAAAABwAAAhAEAAAAAAAARwAAAIAAAAAAA
	AAASwAAAlAEAAAAAAAAB0AAAfAEAAAAAAAAQ0AAABAAAAAAAAAAX8AAAuAAAAAAAAAAi
	8AAAPAIAAAAAAAB0AgCAfAEAAAAAAAA=
	</data>
	<key>NSOutlineView Items Main Source List</key>
	<array>
		<string>Folder Root</string>
	</array>
	<key>NSSplitView Subview Frames Layout 1-1</key>
	<array>
		<string>0.000000, 0.000000, 175.500000, 942.000000, NO, NO</string>
		<string>176.500000, 0.000000, 307.000000, 942.000000, NO, NO</string>
		<string>484.500000, 0.000000, 1195.500000, 942.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration 62C5F77F-E15D-4EC5-9BB2-AF6ECA9E9C28</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame Main Window</key>
	<string>0 50 1680 970 0 0 1680 1020 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>167 286 1346 448 0 0 1680 1019 </string>
	<key>NSWindow Frame Rule Status</key>
	<string>274 226 668 459 0 0 1680 1019 </string>
	<key>RunState</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-02-13T20:57:38Z</date>
	<key>SUSkippedVersion</key>
	<string>6.1.1</string>
	<key>Sources</key>
	<dict>
		<key>children</key>
		<array>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGtCwwZHSQwMTIUNDU5OlUkbnVsbNYNDg8QERITFBQWFxhU
			cGF0aFxuZWVkc1BvbGxpbmdYaXNQYXVzZWRaaWRlbnRpZmllclVh
			bGlhc1YkY2xhc3OACwgIgAKABIAM0hIaGxxZTlMuc3RyaW5ngANe
			MTY3NzcyMzAtMzYxNDPSHh8gIVokY2xhc3NuYW1lWCRjbGFzc2Vz
			XxAPTlNNdXRhYmxlU3RyaW5noyAiI1hOU1N0cmluZ1hOU09iamVj
			dNYlJhInKCkqKywtLi9UcGF0aFhib29rbWFya1R0eXBlXxAWdm9s
			dW1lVVVJRE5vdEF2YWlsYWJsZV8QEHZvbHVtZUlkZW50aWZpZXKA
			BYAJgAqABoAIgAdfEBYvVXNlcnMvamF4b24vRG93bmxvYWRzEAFf
			ECQ2QTAyMThFNy04NDk5LTQ2NDAtQTlGRS0yRkVEMzAwRTRBOTAI
			TxEDaGJvb2toAwAAAAAEEDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAEwCAAAFAAAAAQEAAFVzZXJzAAAABQAAAAEB
			AABqYXhvbgAAAAkAAAABAQAARG93bmxvYWRzAAAADAAAAAEGAAAE
			AAAAFAAAACQAAAAIAAAABAMAADRHAAAAAAAACAAAAAQDAAD8jAAA
			AAAAAAgAAAAEAwAAL40AAAAAAAAMAAAAAQYAAEwAAABcAAAAbAAA
			AAgAAAAABAAAQcdCkGIAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
			AAAAAAAAAAAAAAAAAAABBQAABAAAAAMDAAABAAAACAAAAAQDAAAB
			AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
			AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEA
			ADZBMDIxOEU3LTg0OTktNDY0MC1BOUZFLTJGRUQzMDBFNEE5MBgA
			AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
			AAAAyAAAAAECAAA0YmFlODQ3NmE4ODhmY2Y0Njc5YWU4NzU4MDc3
			NDA3ZWZiYjY4ZDRkMjRlNjZkNDY4ZTg3Yjc5MzBjMmIyYjhiOzAw
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAw
			MDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7
			MDE7MDEwMDAwMGU7MDAwMDAwMDAwMDAwOGQyZjs3NDsvdXNlcnMv
			amF4b24vZG93bmxvYWRzAOQAAAD+////AQAAAAAAAAASAAAABBAA
			ADgAAAAAAAAABRAAAHwAAAAAAAAAEBAAAKAAAAAAAAAAQBAAAJAA
			AAAAAAAAVRAAAMgAAAAAAAAAVhAAAMAAAAAAAAAAAiAAAHABAAAA
			AAAABSAAAPAAAAAAAAAAECAAAAABAAAAAAAAESAAACQBAAAAAAAA
			EiAAABQBAAAAAAAAEyAAAJAAAAAAAAAAICAAAFABAAAAAAAAMCAA
			AMAAAAAAAAAAAcAAANQAAAAAAAAAEcAAABQAAAAAAAAAEsAAAOQA
			AAAAAAAAgPAAAHwBAAAAAAAA0h4fNjdfEA9Ob29kbGVGaWxlQWxp
			YXOiOCNfEA9Ob29kbGVGaWxlQWxpYXNbfi9Eb3dubG9hZHPSHh87
			PF8QE0hhemVsQ29uY3JldGVGb2xkZXKjPT4jXxATSGF6ZWxDb25j
			cmV0ZUZvbGRlcltIYXplbEZvbGRlcgAIABEAGgAkACkAMgA3AEkA
			TABRAFMAYQBnAHQAeQCGAI8AmgCgAKcAqQCqAKsArQCvALEAtgDA
			AMIA0QDWAOEA6gD8AQABCQESAR8BJAEtATIBSwFeAWABYgFkAWYB
			aAFqAYMBhQGsAa0FGQUeBTAFMwVFBVEFVgVsBXAFhgAAAAAAAAIB
			AAAAAAAAAD8AAAAAAAAAAAAAAAAAAAWS
			</data>
		</array>
		<key>identifier</key>
		<string>444BF3B7-5040-4228-9F01-410B81DBC34D</string>
		<key>name</key>
		<string>Folders</string>
	</dict>
	<key>SuppressKeepHazelRunningHelp</key>
	<true/>
	<key>SuppressRuleStatusButtonHelp</key>
	<true/>
	<key>uuid</key>
	<string>88df690c-e11c-460d-9a02-8ef9e4a9051c</string>
</dict>
</plist>
